{{- $_ := set . "Version" ( splitList "/" .Values.global.doc_version | last ) }}
{{- $_ := set . "VersionURLNormalized" ( printf "%s" .Version | lower | replace "+" "-plus-" | replace "_" "-u-" ) }}
{{- $_ := set . "VersionDNSNormalized" ( printf "%s" .Version | lower | replace "+" "-plus-" | replace "_" "-u-" | replace "." "-dot-" ) }}
{{- $hostEn := .Values.global.url }}
{{- $hostRu := .Values.global.url_ru }}
{{- $hosts := list -}}
{{- $hosts = append $hosts (dict "Lang" "en" "URL" $hostEn) -}}
{{- $hosts = append $hosts (dict "Lang" "ru" "URL" $hostRu) -}}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: main
  annotations:
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: '*'
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Original-URI         $request_uri;
      ssi on;
      ssi_silent_errors on;
      rewrite ^/ru/(.*) {{ $hostRu }}/$1 permanent;
      rewrite ^/en/(.*) {{ $hostEn }}/$1 permanent;
      {{- include "rewrites" . | nindent 6 }}
{{- if or ( eq .Values.web.env "web-stage")  ( eq .Values.web.env "web-test")  }}
    nginx.ingress.kubernetes.io/auth-signin: https://$host/dex-authenticator/sign_in
    nginx.ingress.kubernetes.io/auth-url: https://{{ .Chart.Name }}-public-dex-authenticator.deckhouse-{{ .Values.web.env }}.svc.cluster.local/dex-authenticator/auth
    nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User,X-Auth-Request-Email
{{- end }}
spec:
  ingressClassName: "nginx"
  tls:
{{- range $hosts }}
  - hosts:
      - {{ .URL }}
{{- if eq $.Values.web.env "web-production" }}
      - www.{{ .URL }}
{{- end }}
    secretName: tls-{{ .URL }}
{{- end }}
  rules:
{{- range $hosts }}
  - host: {{ .URL }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              name: http
{{- end }}
---
{{- range $hosts }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ $.Chart.Name }}-{{ .Lang }}-cert
spec:
  certificateOwnerRef: false
  secretName: tls-{{ .URL }}
  issuerRef:
    kind: ClusterIssuer
{{- if hasPrefix "review" $.Values.web.env }}
    name: letsencrypt-staging
{{- else }}
    name: letsencrypt
{{- end }}
  commonName: {{ .URL }}
  dnsNames:
  - {{ .URL }}
{{- if eq $.Values.web.env "web-production" }}
  - www.{{ .URL }}
{{- end }}
{{- if or ( eq $.Values.web.env "web-stage")  ( eq $.Values.web.env "web-test")  }}
---
apiVersion: deckhouse.io/v1alpha1
kind: DexAuthenticator
metadata:
  name: {{ $.Chart.Name }}-{{ .Lang }}
spec:
  applicationDomain: {{ .URL }}
  sendAuthorizationHeader: false
  applicationIngressCertificateSecretName: tls-{{ .URL }}
  applicationIngressClassName: "nginx"
  keepUsersLoggedInFor: "720h"
{{- end }}
---
{{ end -}}
